
/* ===================================
    Google font
====================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ===================================
    Reset
====================================== */

body{ font-family: "Montserrat",sans-serif; font-size:13px; color:#626262; font-weight: 400;}
a:focus {outline: none !important}
.no-padding {padding: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}
.no-padding-lr {padding-left: 0 !important; padding-right: 0 !important;} 
h2 {font-size: 33px; line-height: 52px; font-weight: 400; margin: 0;}
h1 {font-size: 33px; font-weight: 700; color: #191919; text-align: center; position: relative; margin: 0 auto 100px; display: table; padding: 0 100px;}
h1:before {border-bottom: 2px solid #ffe44a; content: ""; width: 100%; position: absolute; z-index: -1; left: 0; top: 18px; color: #000; display: table; margin: 0 auto; }
h4 {font-size: 16px; font-weight: 700; width: 100%; text-align: left; color: #2b2e33; margin: 20px 0 0 0; float: left; transition-duration: 0.5s;}
h4 span {   background: #f1191a none repeat scroll 0 0; color: #fff !important; margin-left: 11px; padding: 3px 10px; font-size: 11px; text-transform: uppercase; position: relative; top: -1px}
h4 .fa {float: right; font-size: 20px; transition-duration: 0.5s}
h5 {font-size: 13px; color: #191919; margin: 0 0 16px; font-weight: 400; text-transform: uppercase;}
header {padding: 50px 60px; text-align: center; width: 100%;}
section {padding: 0 60px; margin-bottom: 100px; display: inline-table; width: 100%;}
.banner {position: relative; color: #1c1c1c;}
.banner-right {background-color: #fff85f; height: 100%; position: absolute; right: 0; top: 0; width: 50%; padding:4.7% 0 0; }
.banner-right h2 {padding:0 16% 0 8%; margin-bottom: 63px;}
.banner-right h2 strong { text-decoration: underline;}
.list-content {background-color: #ffe44a; width: 100%; padding: 45px 8%; float: left;}
.list-content ul {padding: 0; margin: 0;}
.list-content ul li {text-transform: uppercase; font-size: 14px; font-weight: 700; margin-bottom: 8px;}
.list-content ul li:last-child {margin-bottom: 0;}
.list-title {padding: 18px 8% 15px; width: 100%; display: inline-block; font-size: 18px; font-weight: 700; text-transform: uppercase;}
.list-title .sub-title {display: inline-block;}
.list-title span {margin: 0 15px;}
.layouts-box {margin-right: -60px; margin-left: -60px; padding: 0 30px; text-align: center;}
.layouts-box .box {padding: 0 30px; margin-bottom: 55px; width: 33%; display:inline-block;} 
.extra-pages .box {padding: 0 30px; margin-bottom: 55px; width: 49.8%; display:inline-block;}
.layouts-box .box:hover h4 {padding: 0 20px; color: #000;}
.layouts-box .box:hover h4 .fa {color: #fbbb24;}
.border-bg {border-bottom: 1px solid #e8e8e8; width: 100%; display: inline-block; margin: 45px 0 0;}
.included {margin-bottom: 40px;}
.banner-bottom {text-align: center;width: 100%;}
.banner-bottom .list-title {padding:5.2% 0; color: #fff; font-size: 35px; text-transform: none; font-weight: 400;}
.banner-bottom-bg { position: relative; }
.banner-bottom span {margin: 0 30px;}
.banner-bottom-bg img {position: absolute; top: 0; z-index: -1; background-size: 100% 100%; left: 0; width: 100%;}
.content-box {text-align: center; margin-bottom: 0;} 
.content-box p {font-size: 12px; color: #808080; line-height: 18px; margin: 0 auto; width: 70%;}
.content-box .content {margin-bottom: 80px;}
.content-box .icon-box {display: inline-table; width: 100%; text-align: center; margin-bottom: 40px;}
.content-box .content .icon-image {height: 82px; display: table-cell; vertical-align: bottom;}
.footer {background-color: #fafafa; text-align: center; padding: 120px 20px 100px;}
.title {font-size: 35px; color: #191919; margin-bottom: 40px;}
.footer .button {border: 8px solid #191919; padding: 10px 30px; color:#191919; transition-duration: 0.5s; text-transform: uppercase; margin-bottom: 120px; font-size: 22px; font-weight: 700; display: inline-block;}
.footer .button:hover {text-decoration: none; background-color: #191919; color: #ffffff;}
.footer .button:focus {text-decoration: none; outline: none;}
.footer a {display: table; margin: 0 auto;}
.content-area {font-size: 18px; text-align: center;color: #808080; line-height: 26px; border-top: 1px solid #e8e8e8; padding-top: 100px;}
.content-area p {margin: 0 auto 30px; width: 40%; }
.content-area a {color: #000;}
.content-area p:last-child {margin-bottom: 0;}
.content-area img {margin-bottom: 60px;}

@media (max-width: 1900px) {
    .banner-right h2 {margin-bottom: 6%;}
    
}
@media (max-width: 1800px) {
    .banner-right h2 { margin-bottom: 6%; padding: 0 5% 0 5%}
    .list-content {padding: 28px 5%;}
    .list-title {padding: 15px 5%;}
    .list-content ul li { font-size: 13px;}
    .content-box p {width: 80%;}
}
@media (max-width: 1600px) {
    .banner-right h2 { margin-bottom: 4%; font-size: 30px; line-height: 40px;}
    .banner-right {padding: 3% 0 0 0;}
    .content-box p { width: 85%;}
    .content-area p {width: 50%;}
}
@media (max-width: 1400px) {
    .list-content { padding: 20px 5%;}
    .banner-right { padding: 2% 0 0;}
    .banner-right h2 {font-size: 22px; line-height: 28px;}
    .list-title {font-size: 16px;}
    .list-content ul li {font-size: 12px;}
    .container {width: 100%; padding: 0;}
    .banner-bottom .list-title {padding: 4% 0;}
    .content-box p { width: 100%;}
    .content-area p {width: 60%;}
}
@media (max-width: 1100px) {
    header { padding: 30px;}
    .list-title { font-size: 14px;}
    section {padding: 0 30px; margin-bottom: 50px;}
    h1 {margin-bottom: 50px;}
    .layouts-box { margin-left: -15px; margin-right: -15px; padding: 0;}
    .layouts-box .box {padding: 0 15px; margin-bottom: 15px;}
    .border-bg {margin-top: 40px;}
    .content-box .content { margin-bottom: 50px;}
    .footer {padding: 80px 20px 60px}
    .footer .button {margin-bottom: 80px;}
    h5 {font-size: 12px;}
    .content-area {padding-top: 50px;}
    .content-area p {width: 80%;}
    .content-area img { margin-bottom: 50px;}
    
    
}
@media (max-width: 1024px) {
    .layouts-box .box {width: 49.7%;}
    .content-area p {width: 100%;}
}
@media (max-width: 991px) {
    .content-area img { margin-bottom: 40px;}
    h5 {font-size: 13px;}
    .sm-width-100 {width: 100%;}
    .banner-right {position: inherit; width: 100%; margin: 0px 0 0; padding: 40px 0 0 0;}
    .banner-right h2 {padding: 0 30px; margin-bottom: 40px; font-size: 24px; line-height: 32px;}
    .list-content { padding: 30px 30px;}
    .list-title { padding: 15px 30px;}
    .extra-pages .box {width: 49.7%;}
    .banner-bottom-bg {display: none;}
    .banner-bottom .list-title {padding:30px 30px; background-color: #191919; font-size: 24px; line-height: normal;}    
}
@media (max-width: 767px) {
    .content-area img { margin-bottom: 20px;}
    header { padding: 20px;}
    .list-content ul li:last-child { margin-bottom: 8px;}
    .list-content { padding: 20px 20px 12px;}
    section {padding: 0 20px; margin-bottom: 20px;}
    .banner-right { padding: 20px 0 0 0;}
    h1 {font-size: 26px; margin-bottom: 20px; padding: 0 40px;}
    h1::before {top: 15px;}
    .layouts-box .box {width: 100%; float: left; margin-bottom: 17px;  }
    .layouts-box .box img {width: 100%;}
    .layouts-box .box:last-child {margin-bottom: 0;}
    .border-bg { margin-top: 2px;}
    .included { margin-bottom: 17px;}
    .banner-bottom .sub-title {width: 100%; text-align: center;}
    .banner-bottom span { margin: 15px 0px; display: inline-block;}
    .content-box .content .icon-image {  min-height: 0; margin-bottom: 20px;}
    .content-box .content { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #e8e8e8;} 
    .content-box .row {margin: 0;}
    .content-box .row:last-child .content:last-child {border: 0; padding-bottom: 0;}
    .footer {padding: 20px;}
    .title {   font-size: 24px; margin-bottom: 20px;}
    .footer .button { margin-bottom: 20px; border: 4px solid #191919; padding: 7px 20px; font-size: 16px;}
    .banner-right h2 {padding: 0 20px;}
    .list-title { padding: 15px 20px;}
    .content-box .icon-box {margin-bottom: 20px;}
    .content-area {padding-top: 20px;} 
    
}
@media (max-width: 480px) {
    .banner-right h2 {font-size: 22px; line-height: 30px; margin-bottom: 20px;} 
    h1 {font-size: 20px; padding: 0 20px;}
    h1:before {top: 11px; }
    .title {line-height: 26px;}
    .banner-bottom .list-title {font-size: 18px;}
    .banner-bottom span {margin: 10px 0;}
    
}

/* ===================================
    Demo page
====================================== */

.buy-theme {position:fixed; top:143px; border-radius: 4px; right: -161px; background: url("../images/buy-theme.png") no-repeat 14px center rgba(50,50,50,1); z-index: 10; transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; }
.buy-theme:hover, .quick-question:hover {right: -26px}
.buy-theme span, .quick-question span {padding:0 28px; position: relative; top:0; opacity: 0}
.buy-theme:hover span, .quick-question:hover span {opacity: 1}
.buy-theme a, .quick-question a { color: #fff; font-size: 11px; letter-spacing: 1px; text-transform: uppercase; padding:9px 15px; display: block; text-decoration: none }
.quick-question {position:fixed; top:190px; border-radius: 4px; right: -162px; background: url("../images/quick-question.png") no-repeat 14px center rgba(50,50,50,1); z-index: 10; transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; }